@font-face {
    font-family: Mulish;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("fonts/woff2/Mulish-Light.woff2") format("woff2");
}

@font-face {
    font-family: Mulish;
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url("fonts/woff2/Mulish-Bold.woff2") format("woff2");
}

body{
    font-family: Mulish, sans-serif;
    background-color:seashell;
}

*{
    box-sizing: border-box;
}

image{
    text-align: left;
}

.container{
    width: 1220px;
    margin-right:auto;
    margin-left:auto;
}

h2{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.55;
    margin-bottom: 33px;
    margin-top: 192px;
}

h2::after{
    content: "";
    display: block;
    width: 56px;
    height: 2px;
    background-color: #000000;
    border-radius: 5px;
    margin-top: 26px;
    margin-bottom: 33px;
    margin-left: auto;
    margin-right: auto;
}

h3{
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    line-height: 2.33;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:34px; 
}
li{
    width: 350px;
    height: 354px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

li:hover{
    background-color: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.first_paragraph{
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6;
    color: #7D7987;
    width: 952px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.section{
    padding: 54px 37px 46px;
}

p{
    text-align: left;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.52;
    color: #7D7987;
}

.button{
    display: flex;
    justify-content: center;
}
.button a{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    color: #458FF6;
    border: 1px solid #458FF6;
    border-radius: 55px;
    padding: 15px 18px;
    text-decoration: none;
    text-align: center;
    min-width: 200px;
    opacity: 0.7;
    margin-top: 35px;
    margin-bottom: 220px;

}








